
<h2>VOLUNTEER</h2>




<form class="well">
<input class="form-control" type="text" ng-model="search.leader" placeholder="Search leader" >
<input class="form-control" type="text" ng-model="search.ministry" placeholder="Search ministry">
<input class="form-control" type="text" ng-model="search.position" placeholder="Search position">
</form>


<div id="messages" ng-show="messages.length" class="well messagesection">
<section ng-repeat="message in messages |  filter:search:strict | reverse " ng-change="messages.$save(message)" ng-model="message.day" class="messagesectiondiv" >
  <img src=""/>
  <p>{{message.leader}}</p>
  <p>{{message.ministry}}</p>
  <p>{{message.email}}</p>
  <p>{{message.position}}</p>
  <p>{{message.description}}</p>
  <input type="checkbox"/> I want this one!
  <button ng-click=messages.$remove(message)>delete</button>
  <button ng-click="addVolunteer();volunteer = {};">Add</button>
</section>
</div>


<!-- startbox for volunteer positions wanted --> 
<div id="volunteer" ng-show="volunteer.length" class="well">
<section ng-repeat="volunteer in volunteers | reverse">
  <p>{{volunteer.message.leader}}</p>
  <p>{{volunteer.message.ministry}}</p>
  <p>{{volunteer.message.email}}</p>
  <p>{{volunteer.message.position}}</p>
  <p>{{volunteer.message.description}}</p>
  
</section>
</div>

<form class="well">
<input type="text" ng-model="newMessage.leader" placeholder="Ministry Leader">
<input type="text" ng-model="newMessage.ministry" placeholder="Ministry">
  <input type="email" ng-model="newMessage.email" placeholder="Email">
  <input type="text" ng-model="newMessage.position" placeholder="Volunteer Position">
  <textarea type="text" ng-model="newMessage.description" placeholder="Volunteer Description"></textarea>
  <button type="submit" ng-click="addMessage(newMessage);newMessage = {};">ADD</button>
</form>





<p class="alert alert-danger" ng-show="err">{{err}}</p>






