

<div class="row">
<div class="col-md-11">
<h1>TalkReserve</h1>
<h4>This software will create a better way to serve a large scale of customers of the New Life Resource Cafe and 2000+ members of New Life Christain Fellowship Church. The Cafe customers will easily be able place a sermon reservation at the customer service desk. The members of New Life Christian Fellowship church will be able to sign up for open volunteer positions at various ministries in the church.</h4>
</div>
</div>

<div class="row headerow">
<div class="col-md-12 headerdiv">
<h1 class="headermainone">CATCH UP ON RECENT SERMONS</h1>
<h2 class="headermain">Lessons that will motivate and encourage you...</h2>
</div>
</div>


<div class="row rowinfo">
  <div class="col-md-4 ">
 <div class="item">
      <img src="../images/CAROUSALIMAGEONE.png" class="staffimage" >

  </div>
  </div>
  <div class="col-md-4 .col-md-offset-4 ">
    <div class="item">
      <img src="../images/CAROUSALIMAGETWO.png" >
    </div>
  </div>
  <div class="col-md-4">
    <div class="item">
      <img src="../images/CAROUSALIMAGETHREE.png" >
    </div>
  </div>
</div>


   <section >
   <h2 class="headermainthree">AWESOME STAFF</h2>
        <ul class="ch-grid">
          <li class="imageone">
            <div class="ch-item ch-img-1">        
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"></div>
                  <div class="ch-info-back">
                    <h3>ROBIN</h3>
                    <p> robin@newlife.com </p>
                  </div>  
                </div>
              </div>
            </div>
          </li>

          <li class="imagetwo">
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-2"></div>
                  <div class="ch-info-back">
                    <h3>VENIECE</h3>
                    <p> veniece@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="imagethree">
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>CHINENYEM</h3>
                    <p> chinenyem@newlife.com </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>


<div class="row staffleaders ">

   <div class="col-md-4 ">
    
     <h4 class="headtitle">ROBIN</h4>
     <p class="staffcaption well">Robin literally makes the world go around. Her level of excellence, integrity, and confidence provides a strong base for the New Life Retail Store and DEM (Dexter Easley Ministries). She creates the standard of processes and implements the steps.</p> 
   
   </div>
  <div class="col-md-4 ">
    
    
     <h4 class="headtitle">VENICE</h4>
     <p class="staffcaption well">This woman means business! She is the leader of the DEM ministries. Hard copy media such as dvds and cds are created by her. In addition, she loves to give hugs.</p>
  </div>
  <div class="col-md-4 ">
   
    
     <h4 class="headtitle">CHINENYEM</h4>
     <p class="staffcaption well">Chinenyem roles up her sleeves and goes in for the long haul. You will see her running around with products in her hands, or graciously assisting a visitor.  If you ever need an uplifting smile, go to her.</p>
     
  </div>
</div>

